<app-main>
    <div class="about">
        <div class="about-1">
            <div class="about-info">
                <h2>Quienes Somos</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
            </div>
            <div class="about-img"></div>
        </div>
        
    </div>
    <div class="container-about-2">
        <div class="about-img-1"></div>
        <div class="about-seccion">
            <div class="about-img-2"></div>
            <div class="container-colapse">
                <h2>Conocenos más</h2>
                <div class="colapse">
                    <div class="colapse-block">
                        <div class="titulo">
                            <h2>Nosotros</h2><i (click)="colapsable1 = !colapsable1" class="fas fa-plus"></i>
                        </div>
                        <div class="info">
                            <p *ngIf="colapsable1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                                <br>The point of using Lorem Ipsum is that it has a more-or-less</p>
                        </div>
                    </div>
                    <div class="colapse-block">
                        <div class="titulo">
                            <h2>Nosotros</h2><i (click)="colapsable2 = !colapsable2" class="fas fa-plus"></i>
                        </div>
                        <div class="info">
                            <p *ngIf="colapsable2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                                <br>The point of using Lorem Ipsum is that it has a more-or-less</p>
                        </div>
                    </div>
                    <div class="colapse-block">
                        <div class="titulo">
                            <h2>Nosotros</h2><i (click)="colapsable3 = !colapsable3" class="fas fa-plus"></i>
                        </div>
                        <div class="info">
                            <p *ngIf="colapsable3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                                <br>The point of using Lorem Ipsum is that it has a more-or-less</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
       
</app-main>
