.about{
    margin: auto;
    margin-top: 150px;
    max-width: 1200px;
    width: 100%;
}
.about-1{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.about-info{
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 45%;
    h2{
        padding: 10px;
    }
}
.about-img{
    background: url('/assets/img/fondo-card.png');
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: 300px;
}
.container-about-2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    height: 600px;
    justify-content: left;
    align-items: center;
}
.about-img-1{
    background-image: linear-gradient(
        rgba(153, 25, 26, 0.28),
        rgba(153, 25, 26, 0.28)),
        url('/assets/img/fondo-nosotros.png');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
}
.about-seccion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.about-img-2{
    background: url('/assets/img/conocenos.png') center center;
    background-size: cover;
    position: relative;
    width: 50%;
    height: 390px;
}
.container-colapse{
    padding: 20px;
    margin: auto;
    width: 40%;
    justify-content: left;
    align-items: center;
    h2{
        padding: 0px 20px;
        color: white;
    }
}
.colapse{
    position: relative;
    padding: 10px;
}
.colapse-block{
    margin: 10px;
    color: white;
    padding: 20px;
    background-color: #991914;
    border-radius: 10px;
    .titulo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            padding: 0px;
        }
        i{
            cursor: pointer;
        }
    }
}
.info p{
    padding: 10px 0px;
}
@media screen and (max-width: 760px){
    .about-info, .about-img{
        padding-bottom: 20px;
        width: 100%;
    }
    .container-about-2, .about-img-1{
        height: 800px;
    }
    .about-img-2, .container-colapse{
        width: 100%;
    }
}
