<app-main>
    <div class="about">
        <div class="about-1">
            <div class="about-info">
                <h2>Quienes Somos</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
            </div>
            <div class="about-img"></div>
        </div>
        <div class="about-2">

        </div>
    </div>
</app-main>
