<app-main>
    <div class="bloque-program">
        <h2>Informática</h2>
        <div class="volver">
            <a routerLink="/programas" class="read-more"><i class="fas fa-arrow-left"></i> Volver</a>
        </div>

        <div class="banner"></div>
        
        <div class="textos">
            <div class="info">
                <div class="info-def">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> <br>
                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                </div>
                <div class="info-def">
                    <h2>Objetivos</h2>
                    <ul>
                        <li><p>It is a long established fact that a reader will be distracted by the readable content.</p></li>
                        <p>&nbsp;</p>
                        <li><p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</p></li>
                        <p>&nbsp;</p>
                        <li><p>It is a long established fact that a reader will be distracted by the readable content.</p></li>
                        <p>&nbsp;</p>
                        <li><p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</p></li>
                    </ul>
                </div>
                <div class="info-def">
                    <h2>Campo Laboral</h2>
                    <ul>
                        <li><p>It is a long established fact that a reader will be distracted by the readable content.</p></li>
                        <p>&nbsp;</p>
                        <li><p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</p></li>
                        <p>&nbsp;</p>
                        <li><p>It is a long established fact that a reader will be distracted by the readable content.</p></li>
                        <p>&nbsp;</p>
                        <li><p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</p></li>
                    </ul>
                </div>
            </div>
            <div class="cuadro-info">
                <div class="cuadro-info-1">
                    <h2>Grado Académico</h2>
                    <ul>
                        <li><p>It is a long established fact that a reader will be distracted by the readable content.</p></li>
                        <p>&nbsp;</p>
                        <li><p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</p></li>
                    </ul>
                </div>
                <div class="line"></div>
                <div class="cuadro-info-1">
                    <h2>Grado Académico</h2>
                    <ul>
                        <li><p>It is a long established fact that a reader will be distracted by the readable content.</p></li>
                        <p>&nbsp;</p>
                        <li><p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</p></li>
                    </ul>
                </div>
                <div class="line"></div>
                <div class="cuadro-info-1">
                    <h2>Duración</h2>
                    <ul>
                        <li><p>It is a long established fact that a reader will be distracted by the readable content.</p></li>
                    </ul>
                </div>
                <div class="line"></div>
                <div class="cuadro-info-1">
                    <h2>Plan de Estudios</h2>
                    <div class="btn-plan">
                        <p>Descargar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-main>
