<footer class="footer">
    <div class="content-footer">
        <div class="footer-block-logo">
            <img src="assets/img/logo-footer.png" alt="">
            <p>Lorem ipsum dolor sit amet, consetet sadipscing elitr, sed dinonumy eirmod tempor invidunt.</p>
        </div>
        <div class="footer-block">
            
            <dl>
                <dt>Programas</dt>
                <dd><a href="">Informática</a></dd>
                <dd><a href="">Informática</a></dd>
                <dd><a href="">Informática</a></dd>
            </dl>
        </div>
        <div class="footer-block">
                <dl>
                    <dt>Contáctanos</dt>
                    <dd><i class="fas fa-phone-alt" style="font-size:20px"></i> +51 966 924 054</dd>
                </dl>
        </div>
    </div>
</footer>
