

/***************************
    SLIDER
https://www.youtube.com/watch?v=TnKbhklesJY
****************************/
.container-bloque-slider{
    width: 100%;
    overflow: hidden;
}
.slider-contenedor{
    width: 100%;
    display: block;
    position: relative;
    height: 700px;
}
.contenido-slider{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    position: absolute;

    &:nth-child(1){
        background-image: url('/assets/img/banner1.jpeg');
        z-index: 3;
        animation: slide1 15s infinite;
        width: 100%;
    }

    &:nth-child(2){
        background-image: url('/assets/img/banner2.jpg');
        z-index: 2;
        animation: slide2 15s infinite;
        animation-delay: 5s;
        width: 100%;
    }

    &:nth-child(3){
        background-image: url('/assets/img/banner3.jpg');
        z-index: 1;
        animation: slide3 15s infinite;
        animation-delay: 10s;
        width: 100%;
    }
}

@keyframes slide1 {
    30%  {opacity: 1;}
    33%  {opacity: 0;}
    95%  {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes slide2 {
    30%  {opacity: 1;}
    33%  {opacity: 0;}
    95%  {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes slide3 {
    30%  {opacity: 1;}
    33%  {opacity: 0;}
    95%  {opacity: 0;}
    100% {opacity: 1;}
  }
@media screen and(max-width:760px) {
    .contenido-slider{
        width: 250px;
    }
}


/***************************
    SECCIONES
****************************/
.container-bloque-seccion{
    padding-top: 50px;
    color: #575757;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.container-col-seccion{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.container-seccion{
    padding: 30px;
}
.container-seccion p{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.seccion{
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 60px;
    box-shadow: 0px 4px 10px #575757;
}
.seccion > img{
    height: 65px;
    width: 65px;
}


/***************************
    PROGRAMAS
****************************/
.program{
    text-align: center;
    padding: 10px 0px;
    color: #575757;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.program a:link{
    color: #575757;
}
.program a:visited{
    color: #575757;
}
.container-bloque-cards {
    text-align: left;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-bloque-cards .cards-item {
    margin: 10px;
    width: 300px; 
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(153, 25, 26, 0.49);
    box-shadow: 0 0 20px rgba(153, 25, 26, 0.49);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    padding: 30px;
    z-index: 1;
}
.cards-content a:link{
    color: #991914;
}
.cards-content a:visited{
    color: #991914;
}
.container-bloque-cards .cards-item .cards-icon svg path {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.container-bloque-cards .cards-item .cards-content h4 {
    margin: 10px 0px;
}
.container-bloque-cards .cards-item .cards-content p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
}
.container-bloque-cards .cards-item .cards-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    background: url('/assets/img/fondo-card.png');
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.container-bloque-cards .cards-item .cards-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: rgba(153, 25, 26, 0.49);
}
.container-bloque-cards .cards-item:hover .cards-icon svg path {
    fill: #fff;
}
.container-bloque-cards .cards-item:hover .cards-content h4, .container-bloque-cards .cards-item:hover .cards-content p, .container-bloque-cards .cards-item:hover .cards-content a {
    color: #fff;
}
.container-bloque-cards .cards-item:hover .cards-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/***************************
    MATRICULA
****************************/
.container-bloque-matricula{
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 550px;
    justify-content: left;
    align-items: center;
}
.container-matricula{
    position: absolute;
    width: 100%;
    height: 550px;
    background: url('/assets/img/fondo-matricula.png') no-repeat center top;
    background-size: cover;
    filter: brightness(70%);
}
.fondo-matricula-1{
    padding: 20px 15px;
    position: relative;
    height: 300px;
    max-width: 700px;
    width: 100%;
    opacity: 0.7;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}
.fondo-matricula{
    padding: 20px 15px;
    position: relative;
    height: 300px;
    max-width: 700px;
    width: 100%;
    opacity: 0.7;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}
.matricula{
    overflow: hidden;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 80%;
}
.form-registro{
    padding: 20px 15px;
    max-width: 700px;
    width: 100%;
}
.registro{
    max-width: 700px;
    justify-content: left;
    display: flex;
    align-items: center;
}
.parte1{
    max-width: 700px;
    width: 100%;
    justify-content: left;
    align-items: center;
}
.datos{
    max-width: 250px;
    width: 100%;
}
.seleccionar{
    max-width: 700px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    h2{
        text-align: left;
        padding: 10px;
    }
}
.combo{
    color: #575757;
    margin: auto;
    padding: 30px 0px;
    max-width: 450px;
}
select {
    color: #575757;
    background: #E8E4E4;
    border: none;
    height: 30px;
    padding: 5px;
    width: 100%;
}
select:focus{ outline: none;}
.parte2{
    max-width: 700px;
    justify-content: left;
    align-items: center;
}
.errors{
    color: #991914;
    font-size: 11px;
    padding: 0 0;
    position: absolute;
    display: flex;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    margin: 0 10px;
}

.llenar{
    max-width: 700px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 0px;
    h2{
        text-align: left;
        padding: 10px;
    }
    p{
        color: #991914;
        font-size: 14px;
        text-align: left;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }
}
.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    input {
        background-color: transparent;
        justify-content: space-between; 
        max-width: 250px;
        width: 100%;
        padding: 10px;
        margin: 10px;
        border: none;
        border-bottom: 1px solid #575757;
        outline: none;
    }:required:invalid{
        color: #991914;
    }
}
.botones {
    max-width: 700px;
    width: 100%;
    text-align: right;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 0px;
}
.button{
    max-width: 100px;
    width: 100%;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    background-color: white;
    border: none;
    color: #575757;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #991914;
}
@media screen and (max-width: 840px){
    .fondo-matricula{
        height: 450px;
    }
}

