<header id = "header">
    <div class="container-header">
        <div class="logo">
            <a routerLink=""><img src="assets/img/logo.png" alt=""></a>
        </div>
        <div class="container-nav">
            <nav [ngClass]="{'move-nav': nav1}" id="nav">
                <ul>
                    <li><a routerLink="/nosotros" class="select">Acerca de</a></li>
                    <li><a routerLink="/programas" class="select">Programas</a></li>
                    <li><a routerLink="/" class="select">Biblioteca</a></li>
                    <li><a routerLink="/" class="select">Aula Virtual</a></li>
                </ul>
            </nav>
            <div (click)="cambiarNav()" class="btn-menu" id="btn-menu"><i class="fas fa-bars"></i></div>
        </div>
    </div>
</header>